@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--accent-color: rgb(29, 155, 240);
	--bg: #000;
	--bg-grayed: #202327;
	--bg-grayed-dark: #16181c;
	--text: #e7e9ea;
	--text-grayed: #71767b;
	--border: #2f3336;
}

body {
	font-size: 15px;
}

html[data-theme='light'] {
	--bg: #fff;
	--bg-grayed: #f7f9f9;
	--bg-grayed-dark: #f0f3f4;
	--text: #0f1419;
	--text-grayed: #536471;
	--border: #eff3f4;
}

html[data-theme='dark'] {
	--bg: #000;
	--bg-grayed: #202327;
	--bg-grayed-dark: #16181c;
	--text: #e7e9ea;
	--text-grayed: #71767b;
	--border: #2f3336;
}

html[data-theme='dimmed'] {
	--bg: #15202b;
	--bg-grayed: #263440;
	--bg-grayed-dark: #1e2732;
	--text: #f7f9f9;
	--text-grayed: #8b98a5;
	--border: #38444d;
}
