.layout {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin: 0 auto;

	@apply max-w-7xl;
}

.focused-layout {
	display: grid;
	grid-template-columns: auto auto 1fr;
	margin: 0 auto;

	@apply max-w-7xl divide-x divide-border;

	> *:nth-child(2) {
		@apply w-96;
	}
	> *:nth-child(3) {
		border-right-width: 1px !important;
	}
}
