.layout {
	display: grid;
	grid-template-columns: auto 1fr auto;
	margin: 0 auto;

	@apply max-w-7xl;
}

.focused-layout {
	display: grid;
	grid-template-columns: auto auto 1fr;
	margin: 0 auto;

	@apply max-w-7xl divide-x divide-red-500;

	> *:nth-child(2) {
		background-color: #f00;
		@apply w-96;
	}
}
