.layout {
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 0 auto;
	// overflow-x: hidden;

	@apply max-w-7xl divide-x divide-border md:grid-cols-[auto_1fr_auto];

	> *:nth-child(3) {
		@apply hidden md:block;
	}
}

.focused-layout {
	display: grid;
	grid-template-columns: auto 1fr;
	margin: 0 auto;

	@apply max-w-7xl divide-x divide-border md:grid-cols-[auto_auto_1fr];

	> *:nth-child(2) {
		@apply hidden w-96 md:block;
	}
	> *:nth-child(3) {
		border-right-width: 1px !important;
	}
}
