.sidebar {
	@apply sticky top-0 flex h-screen flex-col items-center space-y-2 overflow-y-scroll py-1 pr-4 lg:w-64 lg:items-start;

	&__list {
		@apply space-y-1;

		&__row {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			position: relative;
			background: red;

			@apply left-1/2 w-max -translate-x-1/2 gap-3 rounded-full py-3 px-3 text-xl font-normal lg:mr-4;

			// &::before {
			// 	content: '';
			// 	position: absolute;
			// 	inset: 0px;
			// 	background-color: transparent;
			// 	z-index: -1;
			// 	pointer-events: none;

			// 	@apply h-10 w-10 rounded-full;
			// }

			// &:hover::before {
			// 	@apply bg-bg-grayed-dark;
			// }

			&__selected {
				@extend .sidebar__list__row;
				font-weight: 500;
				@apply text-accent;

				&:hover {
					@apply bg-accent opacity-10;
				}
			}
		}

		&__icon {
			@apply h-7 w-7;
		}
	}
}
