.button {
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	min-height: 64px;

	@apply gap-4 rounded-md border-2 border-border bg-bg px-5 py-2 text-text;

	.circle-wrapper {
		position: relative;
		z-index: 10;
		@apply flex h-5 w-5 items-center justify-center;

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			@apply h-10 w-10 rounded-full bg-transparent transition-colors;
		}

		.circle {
			position: relative;
			z-index: 10;
			@apply flex h-5 w-5 items-center justify-center rounded-full border-2 border-border;
		}
	}

	&:hover .circle-wrapper::before {
		@apply bg-gray-600/30;
	}
}

.selected {
	@apply border-2 border-accent;

	.circle {
		border-color: var(--accent-color) !important;
		background-color: var(--accent-color);
	}
}

.button-light {
	--bg: #fff;
	--bg-grayed: #f7f9f9;
	--bg-grayed-dark: #f0f3f4;
	--text: #0f1419;
	--text-grayed: #536471;
	// --border: #eff3f4;
	@extend .button;
}

.button-dark {
	--bg: #000;
	--bg-grayed: #202327;
	--bg-grayed-dark: #16181c;
	--text: #e7e9ea;
	--text-grayed: #71767b;
	// --border: #2f3336;
	@extend .button;
}

.button-dimmed {
	--bg: #15202b;
	--bg-grayed: #263440;
	--bg-grayed-dark: #1e2732;
	--text: #f7f9f9;
	--text-grayed: #8b98a5;
	// --border: #38444d;
	@extend .button;
}
