.sidebar {
	@apply sticky top-0 flex h-screen w-64 flex-col space-y-2 py-4 pr-4;

	&__list {
		a {
			display: block;
		}

		&__row {
			display: flex;
			justify-content: flex-start;
			align-items: flex-end;
			position: relative;

			@apply mr-4 w-max gap-3 p-3 text-xl font-normal;

			&::before {
				content: '';
				position: absolute;
				inset: 0px;
				background-color: transparent;
				z-index: -1;
				pointer-events: none;

				@apply rounded-full;
			}

			&:hover::before {
				@apply bg-bg-grayed-dark;
			}

			&__selected {
				@extend .sidebar__list__row;
				font-weight: 500;
				@apply text-accent;

				&:hover::before {
					@apply bg-accent opacity-10;
				}
			}
		}

		&__icon {
			@apply h-7 w-7;
		}
	}
}
