.button {
	display: flex;
	align-items: center;
	width: 100%;
	cursor: pointer;
	min-height: 64px;

	@apply gap-4 rounded-md border-2 bg-bg px-5 py-2 text-text;

	.circle-wrapper {
		position: relative;
		z-index: 10;
		@apply flex h-5 w-5 items-center justify-center;

		&::before {
			content: '';
			z-index: -1;
			position: absolute;
			@apply h-10 w-10 rounded-full bg-transparent transition-colors;
		}

		.circle {
			position: relative;
			z-index: 10;
			@apply flex h-5 w-5 items-center justify-center rounded-full border-2;
		}
	}

	&:hover .circle-wrapper::before {
		@apply bg-gray-600/30;
	}
}

.selected {
	@apply border-2 border-accent;

	.circle {
		border-color: rgb(var(--accent-color) / 1) !important;
		@apply bg-accent;
	}
}

.button-light {
	--bg: 255 255 255;
	--bg-grayed: 247 249 249;
	--bg-grayed-dark: 240 243 244;
	--text: 15 20 25;
	--text-grayed: 83 100 113;

	@extend .button;
}

.button-dark {
	--bg: 0 0 0;
	--bg-grayed: 32 35 39;
	--bg-grayed-dark: 22 24 28;
	--text: 231 233 234;
	--text-grayed: 113 118 123;

	@extend .button;
}

.button-dimmed {
	--bg: 21 32 43;
	--bg-grayed: 38 52 64;
	--bg-grayed-dark: 30 39 50;
	--text: 247 249 249;
	--text-grayed: 139 152 165;

	@extend .button;
}
